<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ebanking">

    <listeners>
        <listener class-name="Utils.GenerateReport"/>
    </listeners>

    <test name="Selenium-Ebanking-Project">
        <classes>
            <class name="TestCases.LoginTest"/>
        </classes>
    </test>

</suite>